[Unit]
Description=OpenTelemetry Collector Built By Google
After=network.target

[Service]
EnvironmentFile=/etc/otelcol-google/otelcol-google.conf
ExecStart=/usr/bin/otelcol-google $OTELCOL_OPTIONS
KillMode=mixed
Restart=on-failure
Type=simple
User=otelcol-google
Group=otelcol-google

[Install]
WantedBy=multi-user.target