# Workspaces
go.work
go.work.sum

# Tools from builds and dev environment
**/.tools

# The ocb build directory
**/_build

# For VSCode users
.vscode

# Binaries from builds
/google-built-opentelemetry-collector/otelcol-google
/otelopscol/otelopscol

# WASM builds
**/*.wasm