<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id="*" UpgradeCode="2B747F3C-BA1A-47DB-8617-E6BE77832F7E" Name="Google Cloud Operations OpenTelemetry Collector" Version="$(var.PkgVersion)" Manufacturer="OpenTelemetry" Language="1033">
      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
      <Icon Id="ProductIcon" SourceFile="./.build/msi/opentelemetry.ico"/>
      <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
      <Property Id="ARPHELPLINK" Value="https://cloud.google.com/monitoring/agent"/>
      <Property Id="ARPURLINFOABOUT" Value="https://cloud.google.com/monitoring/agent"/>
      <Property Id="ARPNOREPAIR" Value="1"/>
      <Property Id="ARPNOMODIFY" Value="1"/>

      <Feature Id="Feature" Level="1">
         <ComponentRef Id="ApplicationComponent"/>
      </Feature>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="GoogleDir" Name="Google">
               <Directory Id="CloudOperationsDir" Name="Cloud Operations">
                  <Directory Id="INSTALLDIR" Name="OpenTelemetry Collector" />
               </Directory>
            </Directory>
         </Directory>
      </Directory>

      <DirectoryRef Id="INSTALLDIR">
         <Component Id="ApplicationComponent" Guid="03F8DA4A-B41A-4AC1-8B18-5E3AF5D7A548">
            <File Id="ExecutableFile" Name="google-cloudops-opentelemetry-collector.exe" KeyPath="yes" Source="./bin/google-cloudops-opentelemetry-collector_windows_$(var.GoArch).exe"/>
            <File Id="ConfigFile" Name="config.yaml" Source="$(var.Config)" />

            <ServiceInstall
               Id="Service"
               Name="google-cloudops-opentelemetry-collector"
               DisplayName="Google Cloud Operations OpenTelemetry Collector"
               Description="Collects agent metrics and reports them to Google Cloud Operations."
               Type="ownProcess"
               Vital="yes"
               Start="auto"
               Account="LocalSystem"
               ErrorControl="normal"
               Arguments=" --config=&quot;[INSTALLDIR]config.yaml&quot;"
               Interactive="no" />
            <ServiceControl
               Id="StartStopRemoveService"
               Name="google-cloudops-opentelemetry-collector"
               Start="install"
               Stop="both"
               Remove="uninstall"
               Wait="yes" />
         </Component>
      </DirectoryRef>
   </Product>
</Wix>
