receivers:
  # scrape all metrics at 1m interval
  hostmetrics:
    collection_interval: 1m
    scrapers:
      memory:
  # add receivers to extend the ability for MySQL, JVM and Apache

processors:
  # convert from OpenTelemetry metric formats to Cloud Monitoring formats
  metricstransform:
    transforms:
      - metric_name: system.memory.usage
        action: insert
        new_name: memory/bytes_used
        operations:
          # change data type from int64 -> double
          - action: toggle_scalar_data_type
          # aggregate state label values: slab_reclaimable & slab_unreclaimable -> slab
          - action: aggregate_label_values
            label: state
            aggregated_values: [slab_reclaimable, slab_unreclaimable]
            new_value: slab
            aggregation_type: sum

exporters:
  # export to Cloud Monitoring using the agent prefix
  stackdriver:
    project: "otel-gce-metrics" # change this to the project name of the Monitoring project

  # for debugging
  logging:
  file:
    path: ./metrics.json

service:
  pipelines:
    metrics:
      receivers: [hostmetrics]
      processors: [metricstransform]
      exporters: [stackdriver, logging] # add 'file' to enable output to a file