dist:
  module: github.com/GoogleCloudPlatform/{{ .Name }}
  name: {{ .BinaryName }}
  description: {{ .Description }}
  version: {{ .Version }}
  output_path: ./_build
  # TODO: Delete this hack when https://github.com/open-telemetry/opentelemetry-collector/issues/11453 is resolved
  go: "../.tools/go/bin/go"

receivers:
{{ .Receivers.Render }}

processors:
{{ .Processors.Render }}

exporters:
{{ .Exporters.Render }}

extensions:
{{ .Extensions.Render }}

connectors:
{{ .Connectors.Render }}

replaces:
{{ .Replaces.Render }}